# Ignore everything by default
*
.*
# Except these directories
!fedora-asahi-remix/
!.config/
!.local/
!.cargo/
# Inside the allowed folders, don't ignore their contents
fedora-asahi-remix/**
!.config/**
!.local/**
!.cargo/**
