# Ignore everything by default
*
.*
# Except these directories
!fedora-asahi-remix/
!.config/
!.local/

# Inside the allowed folders, don't ignore their contents
fedora-asahi-remix/**
fedora-asahi-remix/.**


!.config/**
!.local/**

