$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #8C716D;
$secondary_paletteKeyColor: #857370;
$tertiary_paletteKeyColor: #926F6A;
$neutral_paletteKeyColor: #7C7675;
$neutral_variant_paletteKeyColor: #7C7675;
$background: #161312;
$onBackground: #E9E1DF;
$surface: #161312;
$surfaceDim: #161312;
$surfaceBright: #3C3838;
$surfaceContainerLowest: #100D0D;
$surfaceContainerLow: #1E1B1A;
$surfaceContainer: #221F1E;
$surfaceContainerHigh: #2D2929;
$surfaceContainerHighest: #383433;
$onSurface: #E9E1DF;
$surfaceVariant: #4A4645;
$onSurfaceVariant: #CCC5C4;
$inverseSurface: #E9E1DF;
$inverseOnSurface: #332F2F;
$outline: #968F8E;
$outlineVariant: #4A4645;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #DFBFBB;
$primary: #DFBFBB;
$onPrimary: #402B29;
$primaryContainer: #58413E;
$onPrimaryContainer: #FDDBD6;
$inversePrimary: #715855;
$secondary: #D8C2BE;
$onSecondary: #3B2D2B;
$secondaryContainer: #534341;
$onSecondaryContainer: #F5DDDA;
$tertiary: #E7BDB7;
$onTertiary: #442926;
$tertiaryContainer: #AE8883;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FDDBD6;
$primaryFixedDim: #DFBFBB;
$onPrimaryFixed: #291715;
$onPrimaryFixedVariant: #58413E;
$secondaryFixed: #F5DDDA;
$secondaryFixedDim: #D8C2BE;
$onSecondaryFixed: #251917;
$onSecondaryFixedVariant: #534341;
$tertiaryFixed: #FFDAD5;
$tertiaryFixedDim: #E7BDB7;
$onTertiaryFixed: #2C1512;
$onTertiaryFixedVariant: #5D3F3B;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #1D1A19;
$term1: #FF5544;
$term2: #FFBDA0;
$term3: #FFDFD5;
$term4: #B8AC66;
$term5: #F18E8C;
$term6: #FFBA90;
$term7: #F0D3C9;
$term8: #CCB4AE;
$term9: #FFAA9E;
$term10: #FFFBFF;
$term11: #FFFFFF;
$term12: #F9D7AC;
$term13: #FFCECA;
$term14: #FFF8F6;
$term15: #F1DFDA;
